html,
body {
  width: auto !important;
  overflow-x: hidden !important;
  color: #203562;
  /* margin: 0 auto; */
  /* max-width: 100vh; */
}

.outer-container {
  background: #e3e8f8;
  min-height: 100vh;
}

.header {
  background: white;
  text-align: center;
}

#button-holder {
  display: flex;
  flex-flow: wrap;
}

.top {
  text-align: left;
  margin-left: 10px;
}

button {
  background: #dcdfe4;
}

input {
  margin: 10px 0 0 10px;
}

form {
  /* width: 60%; */
  /* margin: 0 auto; */
}

.gif-hold {
  /* display: flex; */
  /* margin: 10px auto; */
  /* display: flex; */
   /* flex-direction: row; */
   /* align-items: center; */
   /* justify-content: center; */
}

#gif-holder {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  /* align-items: center; */
  justify-content: center;
}

.gifDiv {
  /* float: left; */
  margin: 20px;
  border-radius: 4px;
  border: 1px solid #3e588f;
  background: #ebecef;
  width: 278px;
  height: 278px;
  /* min-height: 355px; */
  /* height: 355px;
  width: auto; */
}

img {
  max-width: 96%;
  height: 86%;
  /* width: 300px; */
  /* max-height: 250px; */
  border-radius: 4px;
}

.btn {
  margin: 10px 0 0 10px;
}

p {
  margin: 5px;
}

@media only screen and (max-width: 600px) {
  body {
    /* max-width: 375px; */
    /* display: block; */
  }

  .container {
    padding: 0;
    /* overflow: hidden; */
    /* width: 375px; */
  }

  .row {
    margin: 0;
  }

  /* .column {
    width: 96%;
  } */

  input {
    width: 80%;
  }
}
