html,
body {
  width: auto !important;
  overflow-x: hidden !important;
  margin: 0 auto;
}

img {
    width: 90%;
}

.btn {
  margin-right: 1rem;
  margin-left: 1rem
}

p {
  margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0;
  }

  .row {
    margin: 0;
  }

  input {
    width: 80%;
  }
}