/* html, */
body {
  /* width: auto !important; */
  /* overflow-x: hidden !important; */
  color: #203562;
  background: #e3e8f8;
}

.header {
  background: white;
  padding-top: 20px;
  text-align: center;
  border-bottom: 1.6px solid #203562;
  overflow: hidden;
}
.container {
  overflow-x: hidden;
}

#button-holder {
  display: flex;
  flex-flow: wrap;
  overflow: hidden;
}

.top {
  overflow: hidden;
  text-align: left;
  margin-left: 10px;
}

button {
  background: #dcdfe4;
}

input {
  margin: 10px 0 0 10px;
}

#add-button {
  background: #3e588f;
  color: white;
}

#gif-holder {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  overflow: hidden;
}

.gifDiv {
  margin: 20px;
  border-radius: 4px;
  border: 1px solid #3e588f;
  background: white;
  width: 278px;
  min-height: 302px;
  overflow-x: hidden;
}

img {
  max-width: 96%;
  height: 86%;
  border-radius: 4px;
}

.btn {
  margin: 10px 0 0 10px;
}

p {
  margin: 5px;
}
/* ------------- MEDIA QUERIES ------------- */

@media only screen and (max-width: 600px) {

  body {
    overflow-x: hidden !important;
    background: white;
    /* width: 100vh; */
  }
  .container {
    padding: 0;
    margin: 0;
    background-color: #e3e8f8;
    min-height: 80vh;
  }

  .top {
    margin-left: 0;
    padding: 0 30px 0 20px;
    text-align: center;
  }

  #button-holder {
    justify-content: center;
  }

  .gifDiv {
    margin: 10px 0;
    border: none;
    border-radius: 0;
    border-top: 1px solid #3e588f;
    border-bottom: 1px solid #3e588f;
    background: white;
    width: 100vh;
    min-height: 0;
  }

  img {
    /* max-width: 100%; */
    width: 100%;
    height: auto;
    border-radius: 0;
  }
}
